.blogSearchBar{
  height: 60px;
  display:flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}
 
.blogSearchBar__logo{
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.blogSearchBar__search{
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.blogSearchBar__input{
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  margin-right: 10px;
}

.blogSearchBar__cross{
  color: white;
}

.blogSearchBar__button{
  padding: 10px;
  height: 35px !important;
  background-color: #cd9042;
  margin-left: 10px;
}

.blogSearchBar__nav{
  display: flex;
  justify-content: space-evenly;
}