

.blog__wrap {
  padding: 20px;
  padding-top: 40px;
  width: 1000px;
  margin: 0 auto;
  background-color: white;
  
}

  .blog-goBack {
    text-decoration: none;
    font-size: 0.8rem;
    color: black;
    font-weight: 500;
    margin-bottom: 2rem;
    display: block;
    background-color: #cd9042;
    width: fit-content;
    padding: 5px;
  }
  .blog__header {
    text-align: center;
  }
  
  .blog-date {
    font-size: 0.8rem;
    color: #a9a9a9;
    font-weight: 500;
  }
  
  .blog-wrap img {
    width: 100%;
  }
  
  .blog-subCategory {
    display: flex;
    justify-content: center;
  }
  .blog-subCategory > div {
    margin: 1rem;
  }
  .blog__body {
    padding: 1rem;
    margin-top: 1.5rem;
    text-align: justify;
  }

  .blog__image{
    width: 1000px;
    height: 400px;
    object-fit: cover;
  }

  .image__container{
    margin: 20px;
    display: flex;
    justify-content: center;
  }