.productSearchBar{
    height: 60px;
    display:flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
  }
   
  .productSearchBar__logo{
    width: 150px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 5px;
  }
  
  .productSearchBar__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }
  
  .productSearchBar__input{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    margin-right: 10px;
  }
  
  .productSearchBar__cross{
    color: white;
  }
  
  .productSearchBar__button{
    padding: 10px;
    height: 35px !important;
    background-color: #cd9042;
    margin-left: 10px;
  }
  
  .productSearchBar__nav{
    display: flex;
    justify-content: space-evenly;
  }