.profile__container{
    border: 1px solid black;
    width: fit-content;
    padding: 20px;
    line-height: 40px;
    background-color: white;
}

.button{
    background-color: #f0c14b;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    margin-top: 20px;
}

.profile__button{
    display: flex;
    justify-content: center;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

.status1{
    display: inline;
}

.status2{
    display: inline;
    color: red;
}