.userList{
    width: max-content;
    text-align: center;
    align-items: center;
}

.tableContainer{
    padding: 20px;
}

.tableHeader{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.userTable{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
}

th{
    width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
}

.panelContainer{
    display: flex;
    justify-content: center;

}

.header{
    height: 60px;
    display:flex;
    justify-content: space-between;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
    text-decoration: none;
    color: white;
}

.header > h1{
    margin-left: 20px;
}

.header__button{
    margin-right: 20px;
    padding: 10px;
    width: 100px;
    background-color: #cd9042;
    margin-bottom: 15px;
}

.count{
    margin-top: 20px;
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.count__container{
    text-align: center;
    border: 5px solid black;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    border-color: #cd9042;
    background-color: #cd9042;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile__notice >p{
    color:red;
}

.profile__notice{
    border:2px solid red;
    padding: 20px;
    border-radius: 10px;
    margin-left: 50px;
    height: fit-content;
}

.profile{
    display: flex;

}